.notification-list-container {
  width: calc(70% - 12px);
  margin: 5px auto;
  background: rgb(247, 247, 247);
  border: 1px solid rgb(233, 233, 233);
  border-radius: 5px;
}

.notification-list-container h3 {
  margin: 5px;
}

.empty-notification-list-msg {
  margin: 10px;
  color: grey;
  font-size: calc(7px + 1vmin);
}

.notification-list-wrapper {
  list-style-type: none;
  margin: 5px;
  padding: 0px;
}

.unread-notification {
  display: flex;
  flex-direction: row;
  background: rgb(234, 255, 234);
  border-bottom: 1px solid rgb(151, 255, 151);
}

.unread-notification:hover {
  cursor: pointer;
  background: rgb(151, 255, 151);
}

.unread-notification:hover .notification-action-button {
  visibility: visible;
}

.read-notification {
  display: flex;
  flex-direction: row;
  background: white;
  border-bottom: 1px solid rgb(233, 233, 233);
}

.read-notification:hover {
  cursor: pointer;
  background: rgb(233, 233, 233);
}

.read-notification:hover .notification-action-button {
  visibility: visible;
}

.notification-container {
  width: calc(95% - 20px);
  margin: 5px;
  padding: 5px;
  font-size: calc(7px + 1vmin);
}

.notification-button-container{
  width: calc(5% - 8px);
  margin: 5px 2px;
  padding: 5px 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.notification-action-button {
  position: relative;
  background: none;
  border: none;
  margin: 10px;
  padding: 5px;
  height: 4vmin;
  font-weight: 600;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  visibility: hidden;
}

.notification-action-button:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.164);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.notification-action-button:hover .tool-tip{
  visibility: visible;
}

.notification-action-button:focus {
  outline: none;
}

.issuer-name {
  font-weight: 600;
}

.notification-date-time {
  font-size: calc(5px + 1vmin);
  color: grey;
}

.mark-as-read {
  text-decoration: none;
  margin: 5px;
  padding: 5px;
  color: green;
  font-size: calc(6px + 1vmin);
}

.mark-as-read:hover {
  text-decoration: underline;
}