.user-story-container {
    width: calc(100% - 22px);
    margin: 5px;
    padding: 5px;
    border: 1px solid rgb(211, 211, 211);
}

.user-story-container .poster-title{
    width: 100%;
}

.user-story-container .poster-title img{
    width: 5%;
    border-radius: 50%;
}

.user-story-container .poster-title .poster-name{
    margin: 5px;
    font-size: calc(8px + 1vmin);
    font-weight: 500;
}

.user-story-container .post-date-time {
    font-size: calc(5px + 1vmin);
    color: grey;
}

.user-story-container .user-story {
    width: calc(100% - 10px);
    margin: 5px;
}