.header-seg {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  height: 48px;
  background: rgb(0, 158, 0);
}

.header-seg nav {
  width: 80%;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-logo-search-bar-container {
  margin: 0px 5px;
  padding: 0px 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-logo-container {
  padding: 4px;
}

.header-logo-image {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.search-bar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5px;
  border-radius: 5px;
  background: white;
}

.search-bar {
  display: block;
  border: none;
  font-size: 14px;
}

.search-bar:focus {
  outline: none;
}

.search-img-container {
  display: block;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: rgb(233, 233, 233);
}

.search-img-container:hover {
  cursor: pointer;
}

.search-img-container:focus {
  outline: none;
  background: rgba(0, 158, 0, 0.363);
}

.search-img-container.focus-on-search-bar {
  background: rgba(0, 158, 0, 0.363);
}

.search-img {
  display: block;
  margin: auto 10px;
  height: 18px;
}

.search-result-list-modal {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin: 1px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 5px grey;
  background: white;
}

.search-result-list {
  list-style-type: none;
  padding: 0px;
  margin: 5px 0px;
}

.search-result-list li {
  padding: 5px;
}

.search-result-list li:hover {
  cursor: pointer;
  background: rgba(0, 158, 0, 0.363);
}

.navigation-links {
  list-style-type: none;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.navigation-links li {
  margin: 5px;
  padding: 5px;
  border-radius: 2px;
  position: relative;
}

.navigation-links li div {
  height: 100%;
}

.nav-img {
  height: 24px;
  padding: 2px;
  border-radius: 2px;
}

.navigation-links li div span {
  padding: 2px;
}

.navigation-links li div a {
  display: block;
  color: white;
  text-decoration: none;
}

.navigation-links li div a:hover .nav-img {
  background: rgba(0, 0, 0, 0.157);
}

.red-dot-notification {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 15;
  background: red;
  font-size: 12px;
  padding: 1px 2px;
  font-weight: 500;
  color: white;
  border-radius: 3px;
}
